.main-home
    height: 100vh
    display flex
    flex-direction: column
    align-items: center
    padding: 0 20px
    +above($bp.lg)
        justify-content: center
    +below($bp.lg)
        padding: 120px 20px 0
    figure
        width 52%
        position relative
        margin-bottom: 5vh
        +below($bp.lg)
            width: 70%
            padding-bottom: 5vh
            margin-bottom: 5vh
        img
            width 100%
    h1
        font-size: 25px
        font-weight: 400
        text-align: center
        text-transform: uppercase
        letter-spacing: 5px
        +below($bp.lg)
            font-size: 20px
            margin-bottom: 5vh
    .brand
        display flex
        justify-content: center
        font-size: 22px
        color: $color.primary
        text-transform: uppercase
        font-weight: 600
        margin: 5vh 0 10vh
        > *
            line-height: 40px
        > *:first-child
            padding-right: 31px
            position relative
            &::after
                content ''
                width: 1px
                height 100%
                background: $color.primary
                position: absolute
                top: 0
                right 0
        > *:last-child
            padding-left: 30px
    .nav-home
        display flex
        +below($bp.lg)
            display none
        a
            display inline-block
            line-height: 50px
            padding: 0 20px
            background: $color.gray-light
            font-size: 20px
            font-style: italic
            font-weight: 300
            transition: .2s
            +below(1120px)
                font-size: 18px
                padding: 0 15px
            &:hover
                background: darken($color.gray-light, 10%)
            &:not(:last-child)
                margin-right: 10px